@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-primary bg-primary text-white;
  }
}
nav Link{
  @apply relative
}
.active{
  @apply border-b-[2px] border-accent text-accent font-bold
}
::selection{
  @apply bg-accent text-primary
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  @apply bg-primary
}
::-webkit-scrollbar-thumb{
  @apply bg-accent
}
.text_outline{
  -webkit-text-stroke: 1px #fff;
}
.text-outline-accent{
  -webkit-text-stroke: 1px #00ff99;
}
.btnArrow{
  @apply bg-accent p-[15px] rounded-[2px] shadow-lg text-primary hover:bg-primary/60 hover:text-accent transition-[1s] duration-1000
}